# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment / local settings
.env
.env.*
*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

**/migrations/*.py
!**/migrations/__init__.py

# Node.js / frontend
node_modules/
dist/
frontend/node_modules/
frontend/dist/
fixtures/
scripts/
